.sidebar_profile_header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.app_header_profile {
    font-size: var(--font-medium);
    color: var(--color-darck-grey);
    cursor: pointer;
}

.app_header_profile:hover{
    color: var(--color-white);
}

.app_header_notify:hover{
    color: var(--color-white);
}

.app_profile {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--color-white);
    padding: 1em;
    margin-top: 12em;
    border-radius: var(--radius-medium);
    box-shadow: 0 1px 4px var(--color-grey);
}

.profile_header{
    border-bottom: 1px solid var(--color-light-grey);
}

.profile_header h3{
    color: var(--color-darck-grey);
    font-family: Kanit;
    font-size: var(--font-medium);
}

.profile_header p{
    color: var(--color-darck-grey);
    margin-top: 0;
    margin-bottom: 2em;
}

.profile_close{
    color: var(--color-white);
    font-size: var(--font-medium);
    font-weight: var(--weight-strong);
    cursor: pointer;
    background-color: var(--color-red);
    display: block;
    padding: 0.2em;
    border-radius: var(--radius-normal);
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
}

.profile_close:hover{
    background-color: var(--hover-color-red);

}

.profile_main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.profile_main a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--color-white);
    border-radius: var(--radius-normal);
    background-color: var(--color-darck-blue);
    padding: 0.3em;
    margin: 1em 0 0 0;
}

.profile_main a:hover{
    background-color: var(--hover-color-blue);
}

.profile_set, .profile_conf{
    vertical-align: middle;
    margin-right: 0.2em;
}

.profile_logout{
    margin-right: 0.2em;
}

.app_header_notify {
    font-size: var(--font-medium);
    color: var(--color-darck-grey);
    cursor: pointer;
    margin-right: 1em;
}

.profile_footer{
    margin-top: 1em;
    border-top: 1px solid var(--color-light-grey);
}

.profile_footer a{
    color: var(--color-white);
    font-size: var(--font-normal);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background-color: var(--color-red);
    display: block;
    margin-top: 2em;
    padding: 0.2em;
    border-radius: var(--radius-normal);
}

.profile_footer a:hover{
    background-color: var(--hover-color-red);
}