.app_footer{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-start;
    width: 100%;
    height: 2em;
    background-color: var(--color-purple);
    position: fixed;
    bottom: 0;
    padding: 0.3em;
    box-shadow: 0 -2px 2px rgba(103, 101, 101, 0.29);
}

.app_footer .app_ass{
    color: var(--color-white);
}