.app_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 4em;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--color-white);
}

.app_header_brand{
    flex-basis: 14em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.app_header_brand .app_header_brand_logo{
    max-height: 4em;
}

.app_header_brand .app_header_icon{
    font-size: var(--font-large);
    color: var(--color-purple);
}

.app_header_auth{
    flex-basis: calc(100% - 14em);
    display: flex;
}